a.btn{
    width: 600px;
    height: 350px;
    border-radius: 30px;
    background-color: aquamarine;
    display: block;  
    float:left;
    margin:20%;
    padding:15px;
    
}
header {
    text-align: center;
}
main {
    text-align: center;
}
a :hover{
    transform: scale(1.023) ;
    box-shadow: 3px 6px 6px 0 rgba(0,0,0,.11);
}
