a.btn{
    width: 400px;
    height: 250px;
    border-radius: 30px;
    display: block;
    float:left;
    margin:auto;
    padding:15px;
    padding-top:5px;
    text-align:center;
    
}
header {
    text-align: center;
}
main {
    text-align: center;
}
a :hover{
    transform: scale(1.023) ;
    box-shadow: 3px 6px 6px 0 rgba(0,0,0,.11);
}
p {
    float:left;
    margin:auto;
}
