#threeLines {
    height:30px;
}
#logo {
    height:30px;
}
#bottomNav {
    font-size: 15px;
    float:left;
    text-align: left;
    background-color: rgb(255, 255, 255);
    width:100%;
    
}
#leftmain {
    width:28%;
    float:left;
    padding:1.5%;
}
#middlemain {
    width:38%;
    float:left;
    padding-top:5px;
}
#rightmain {
    width:28%;
    float:right;
    padding:1%;
}
#tm1 {
    width:30%;
    float:left;
    padding:2%;
}
#tm2 {
    width:30%;
    float:left;
    padding-top:2%;
}
#tm3 {
    width:30%;
    float:right;
    padding:2%;
}
button {
    background-color: rgb(183, 10, 10);
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 125px;
    font-size: 1.5em;
    padding-top:2px;
    height:35px;
}
#upperNav {
    background-color: rgb(255, 255, 255);
    width:100%;
    margin:auto;
    height:30px;
    padding-top: 6px;
}
nav {
    width:100%;
}
#bottomNav h3 {
    width:auto;
    float:left;
    margin:0%;
    background-color:rgb(255, 255, 255);
    height:28px;
    padding-top:19px;
}
body {
    background-color:white;
}
p {
    color:black;
    font-size: 15px;
}
h2 {
    color:black;
}
h1 {
    color:black;
}
h3 {
    color:black;
}
a {
    color:black;
    padding-left:20px;
}
#sub {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    width: 170px;
    font-size: 2em;
    border-color:rgb(216, 212, 212);
}
#bottomNav p {
    padding-top:20px;
}
#bottomNav img {
    padding-top:12px;
}
#threemini p {
    font-size:19px;
    width:100px;
}