table {
    width:100%;
}
table, th, td {

    border: 1px solid black;
    border-collapse: collapse;

}
th, td {
    padding:5px;
    color:black;
}
#header {
    background-color:white;
}
#firstrow {
    background-color:rgb(228, 80, 80);
}
#secondrow {
    background-color:rgb(247, 155, 27);
}
#thirdrow {
    background-color:rgb(249, 249, 92);
}
#fourthrow {
    background-color:rgb(90, 155, 90);
}
#fifthrow {
    background-color:rgb(86, 127, 194);
}
#sixthrow {
    background-color:rgb(133, 64, 133);
}
#seventhrow {
    background-color:rgb(248, 199, 207);
}