h3 {
    font-size:15px;
}
img {
    width:49%;
    float:right;
    padding:0%;
}
div.tLOU {
    width:49%;
    float:left;
    padding:0%;
    height:200px;
}
div.sl2 {
    width:49%;
    padding:0%;
    height:400px;
}
div.mc {
    width:49%;
    padding:0%;
}
div.stardew {
    width:49%;
    padding:0%;
}
div.bio {
    width:49%;
    padding:0%;
}