button {
    margin:10px;
    width:30%;
    height:100px;
    border-radius: 10px;
    padding-bottom:10px;
    font-size: large;
}
header {
    text-align: center;
}
main {
    text-align: center;
}